@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background: linear-gradient(135deg, #ccfbf1 0%, #dbeafe 100%);
    min-height: 100vh;
    margin: 0;
}
